body {
  background-image: url(../assets/images/parchment.jpg);
  background-repeat: repeat;
  position: relative;
}
main {
  margin-top: 8vh;
  transition: all 0.4s ease-in-out;
}
.before {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: #eececd;
  
  margin-top: 10vh;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  padding: 10px;
}
p {
  padding-top: 5px;
  margin: 0px;
}

.alphabet-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alphabet {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.alphabet > img{
  display: block;
  height: 80vh;
  width: auto;

  border-width: 0px;
  border-style: solid;
  border-radius: 5px;
}

.grid {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);

  margin-top: 0px;
  margin-right: 0px;
}

.grid-button {
  border: 1px solid transparent;
  background-color: transparent;
}
.grid-button:hover {
  background-color: rgba(147, 197, 253, 0.5); 
}

#lessons {
  justify-content: center;
  align-items: center;
  display: flex;
}

.lesson-button {
  border: solid, 2px, #000000;
  background-color: #d16d6a;
  border-radius: 10px;
  margin-top: 20px;

  padding: 20px;
  padding-left: 22vh;
  padding-right: 22vh;

  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  transition: all, 0.3s, ease-in-out;
}
.lesson-button:hover {
  color: #d16d6a;
  border: solid, 2px, #d16d6a;
  background-color: #000000;
  font-weight: 900;

}

#modal button.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

#modal {
  display: flex; 
  display: none; 
  position: fixed; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  z-index: 50; 
  justify-content: center; 
  align-items: center; 
  background-color: rgba(0,0,0, 0.2); 
}
.modalContent {
  position: relative; 
  padding: 1.5rem; 
  border-radius: 0.5rem; 
  max-width: 100%; 
  background-color: #ffffff; 
  width: 300px;
}

#modalText {
  font-size: 12px;
  margin-bottom: 1rem;
}

#modalImage {
  margin-bottom: 1rem; 
  border-radius: 0.25rem; 
  width: 101px; 
  height: 129px;
  background-image: url('../assets/images/draconic-adjusted.png');
  background-size: 606px 903px;
}
.modalClose {
  position: absolute; 
  top: 0.5rem; 
  right: 0.8rem; 
  color: #6B7280;
  border: none;
}.modalClose:hover {
  color: #000000; 
}

#footer-placeholder {
  bottom: 0;
  left: 0;
  width: 100%;
}