body {
  background-color: #f7e5e5;
  background-repeat: repeat;
  position: relative;
}

main {
  margin-top: 8vh;
  transition: all 0.4s ease-in-out;
}

.before {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #eececd;
  margin: 10vh 10px 10px 10px;
  padding: 10px;
}

p {
  padding-top: 5px;
  margin: 0;
}

/*there was css, now there aint*/

/*lesson buttons styling*/
#lessons {
  justify-content: center;
  align-items: center;
  display: flex;
}
.lesson-button {
  border: 2px solid #000;
  background-color: #d16d6a;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px 22vh;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.lesson-button:hover {
  color: #d16d6a;
  border: 2px solid #d16d6a;
  background-color: #000;
  font-weight: 900;
}

/*footer*/
#footer-placeholder {
  bottom: 0;
  left: 0;
  width: 100%;
}