body {
    margin: 0;
    font-family: sans-serif;
}

.alphabet-container {
    display: flex;
    height: 100vh;
    vertical-align: middle;
    justify-content: center;
    gap: 20px;
}

.left-image {
    width: 606px; /* 6 x 101px */
    height: 700px; /* 7 x 101px */
    background-image: url('../images/draconicnoheader.png');
    display: grid;
    grid-template-columns: repeat(6, 101px);
    grid-template-rows: repeat(7, 101px);
    position: relative;
}

.grid-cell {
    width: 101px;
    height: 101px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0); /* still invisible */
    position: relative;
    z-index: 1;
}


.right-image {
    width: 300px;
    height: 129px;
    display: flex;
    align-self: auto;
    justify-content: center;
}

.symbol-preview {
    width: 101px;
    height: 129px;
    background-image: url('../images/draconic-adjusted.png');
    background-size: 606px 903px; /* full size of sprite sheet */
    border: 1px solid #444;
}

#play-sound {
    margin-top: 0px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#play-sound:hover {
    background-color: #666;
}
